html {
  touch-action: manipulation;
  font-size: 16px;
  font-family: Roboto, system-ui, -apple-system, sans-serif;
  box-sizing: border-box;
  --banner-bg-color: rebeccapurple;
  --table-bg-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--table-bg-color);
  margin: 0;
}

div#subway {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

html, body, div#subway {
  height: 100%;
}

div#bruce {
  height: 14.25em;
  margin-bottom: 0.25em;
  width: 100%;
  background: dimgray;
  background: var(--banner-bg-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0.125em 0.125em 0 rgba(0,0,0,0.3);
  z-index: 1;
}

main {
  display: block;
  margin: -14.5em auto 0;
  padding-bottom: 0.75em;
  width: max-content;
}

main header {
  height: 14.5em;
  width: 28em;
  color: white;
  padding-top: 1.5em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

div#xi {
  height: 7.5em;
  text-align: center;
  border-top: 0.125em solid #fff;
  border-bottom: 0.0625em solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2 {
  font-size: 1.5em;
  margin: 0;
}

p {
  font-size: 0.875em;
  margin: 0.25em 0 0;
}

div#butterfly {
  padding: 1em;
  display: flex;
  width: 100%;
}

select {
  width: 25%;
  height: 2em;
  text-overflow: ellipsis;
  overflow: hidden;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0 1em 0 0.25em;
  border: lightgrey solid thin;
  background-color: rgba(0,0,0,0.05);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 32' width='16' height='32'%3E%3Cpath fill='lightgrey' d='M 2,13 l 10,0 l -5,6 l -5,-6 z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right;
}

select:nth-child(1) {
  flex-grow: 2;
}

select:nth-child(n+2) {
  flex-grow: 1;
  margin-left: 0.25em;
}


option {
  color: black;
  color: initial;
  background: var(--table-bg-color);
}

main table {
  table-layout: fixed;
  width: 1em;
  margin-top: -2em;
  border-collapse: collapse;
}


th {
  white-space: nowrap;
  color: white;
  height: 2em;
  position: -webkit-sticky;
  position: sticky;
  top: 12.5em;
  z-index: 1;
}


td {
  text-align: center;
  white-space: nowrap;
  height: 2em;
}

td sup {
  display: inline-block;
  width: 0;
  line-height: 0;
}

main th:nth-child(1),
main td:nth-child(1) {
  text-align: right;
  padding-right: 0.5em;
}

main th:nth-child(2),
main td:nth-child(2) {
  text-align: left;
}

th:nth-child(1) { width: 2em; }
th:nth-child(2) { width: 18em; }
th:nth-child(3) { width: 0; padding: 0; }
th:nth-child(4) { width: 4em; }
th:nth-child(5) { width: 4em; }
th:nth-child(n+6) { width: 2em; }

th:nth-child(n+6) span {
  padding-left: 0.6em;
  display: block;
  transform: rotate(-60deg);
}

th#focused {
  width: 4em;
  text-indent: -16em;
  text-align: right;
  padding-right: 0.5em;
}

main td:nth-child(2), section td:nth-child(1) {
  text-overflow: ellipsis;
  overflow: hidden;
}

main td:nth-child(4) {
  padding: 0;
  width: 4em;
}

main td:nth-child(4) div,
nav td:nth-child(2) div {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit;
}

[class|="m"], [class|="y"] {
  background-color: #e0e0e0;
}

.y-1, .m-1 { background-color: #ffee58; }
.y-2, .m-2 { background-color: #cfd8dc; }
.y-3, .m-3 { background-color: #d8bf99; }
.y-4, .m-4 { background-color: #ffefc0; }
.y-5, .m-5 { background-color: #dcedc8; }
.y-6, .m-6 { background-color: #f8bbd0; }
.y-7, .m-7 { background-color: #eeccff; }
.y-8, .m-8 { background-color: #fdd5b4; }
.y-9, .m-9 { background-color: #ebedd8; }
.y-10, .m-10 { background-color: #d4f0f1; }

[class|="m"] {
  clip-path: circle(0.9em);
}

[class|="y"] {
  clip-path: ellipse(1.75rem 0.9rem);
}

footer:before {
  content: '';
  display: block;
  width: 10em;
  height: 1px;
  background: black;
}

footer {
  padding: 0.5em;
  width: 28rem;
}

footer sup {
  display: inline-block;
  width: 1em;
  text-align: center;
}

colgroup col:nth-child(3n+1) {
  border-left: 1px solid grey;
}

tbody tr:nth-child(6n-5),
tbody tr:nth-child(6n-4),
tbody tr:nth-child(6n-3),
article button {
  background-color: #f5f5f5;
}

div#smith {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.38);
  z-index: 1;
}

div#smith.visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

section {
  display: flex;
  flex-direction: column;
  width: -webkit-min-content;
  width: min-content;
  margin: auto;
  position: relative;
  top: 6%;
  height: 93%;
}

section header {
  background: var(--banner-bg-color);
  color: white;
  box-shadow: 0 0.125em 0.125em 0 rgba(0,0,0,0.3);
  padding: 1em;
  z-index: 1;
}

section header p {
  font-size: 16px;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

button#close {
  float: right;
  height: 3rem;
  width: 3rem;
  margin-left: 2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='100%' height='100%' stroke='white' stroke-width='3'%3E%3Cline x1='15' y1='15' x2='33' y2='33'/%3E%3Cline x1='33' y1='15' x2='15' y2='33'/%3E%3C/svg%3E%0A");
}

button#close:focus, button#close:hover {
  outline: white solid 1px;
}

div#liver {
  display: flex;
  background: var(--table-bg-color);
  width: max(54em, min(90vw, 64em));
  flex-grow: 1;
  overflow: hidden;
}

nav {
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  min-width: -webkit-min-content;
  min-width: min-content;
  padding: 1rem 0 0;
}

nav table {
  border-collapse: collapse;
  font-size: 16px;
  table-layout: fixed;
  width: 26rem;
  margin-bottom: 1rem;
}

nav td:nth-child(1) {
  padding-left: 1em;
  text-align: left;
}

nav td:nth-child(2) {
  width: 4rem;
  font-size: inherit;
}

nav td:nth-child(3) {
  width: 3rem;
  cursor: pointer;
}

nav a {
  display: block;
  height: 3rem;
  margin: 0.5rem 0;
  width: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 48' width='100%' height='100%' stroke='grey' stroke-width='2' stroke-linecap='round'%3E%3Cline x1='15' y1='20' x2='18' y2='24'/%3E%3Cline x1='18' y1='24' x2='15' y2='28'/%3E%3C/svg%3E%0A");
}

article {
  flex-grow: 1;
  min-width: 26rem;
  padding: 0 1rem;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  font-size: 16px;
}

article button {
  display: none;
}

article h4 {
  margin-bottom: 0;
}

article p {
  font-size: inherit;
}

div#overallInfo, div#epInfo {
  display: none;
}

.ct-series-a .ct-point, .ct-series-b .ct-point {
  stroke: var(--banner-bg-color);
}

.ct-series-a .ct-point {
  stroke-width: 2em;
  opacity: 0.25;
}

.ct-label {
  color: inherit;
}

dd {
  font-weight: bold;
  margin-bottom: 0.25em;
}

@media screen {
  select:hover, select:focus {
    background-color: rgba(0,0,0,0.25);
    cursor: pointer;
  }

  table tbody tr:hover {
    background-color: rgba(69, 161, 255, 0.2);
  }

  th:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  td:nth-child(n+1):nth-child(-n+5):hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 56em) {
  div#liver {
    width: 26em;
  }

  article button {
    height: 4.25rem;
    width: 4.25rem;
    background: var(--banner-bg-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='100%' height='100%' stroke='white' stroke-width='2' stroke-linecap='round'%3E%3Cline x1='17' y1='12' x2='14' y2='16'/%3E%3Cline x1='14' y1='16' x2='17' y2='20'/%3E%3C/svg%3E%0A");
    position: -webkit-sticky;
    position: sticky;
    bottom: 1rem;
    margin-top: 2rem;
    margin-left: -1rem;
  }
}

@media only screen and (max-width: 28em) {
  html {
    font-size: calc(100vw / 28);
  }

  div#subway {
    background: var(--banner-bg-color);
    width: 100%;
  }

  main {
    background: var(--table-bg-color);
  }

  div#bruce {
    top: -9em;
  }

  main header {
    top: -9em;
  }

  div#butterfly {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: calc((4 * 100vw / 28 - 32px) / 2);
  }

  select {
    font-size: 16px;
  }

  colgroup col:nth-child(3n+1) {
    border: none;
  }

  th {
    top: 3.5em;
  }

  td {
    height: 2.5rem;
  }

  td:nth-child(n+2), footer {
    font-size: 15px;
  }

  main [class|="y"] {
    clip-path: ellipse(1.75rem 45%);
  }

  nav [class|="y"] {
    clip-path: ellipse(1.75rem 1.125rem);
  }

  main [class|="m"] {
    clip-path: circle(1.125rem);
  }

  th:nth-child(n+6),
  td:nth-child(n+6) {
    display: none;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  html {
    --banner-bg-color: #272727;
    --table-bg-color: #121212;
  }
  option, table, footer, article { color: white; }
  footer:before { background: white; }

  :link { color: #9494FF; }
  :visited { color: #BC8BEA; }
  :link:active, :visited:active { color: #FF7575; }

  [class|="m"], [class|="y"] {
    color: var(--table-bg-color);
  }

  colgroup col:nth-child(3n+1) {
    border-left: 1px solid grey;
  }

  tbody tr:nth-child(6n-5),
  tbody tr:nth-child(6n-4),
  tbody tr:nth-child(6n-3),
  article button {
    background-color: #222222;
  }

  .ct-series-a .ct-point, .ct-series-b .ct-point {
    stroke: white;
  }

  .ct-series-a .ct-point {
    opacity: 0.5;
  }

  .ct-grid {
    stroke: grey;
  }
}

@media only screen and (prefers-reduced-motion: reduce) {
  div#smith {
    transition: none;
  }
}

@media print {
  html {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  html, body, div#subway {
    height: auto;
  }

  body {
    padding-top: 2em;
  }

  div#subway {
    overflow: visible;
  }

  div#bruce, header, th {
    position: static;
  }

  div#bruce {
    background: none;
    box-shadow: none;
  }

  main header, th, a {
    color: inherit;
  }

  div#xi {
    border-top: 0.125em solid #000;
    border-bottom: 0.0625em solid #000;
  }

  thead {
    display: table-row-group;
  }

  th:nth-child(n+6) span {
    transform: rotate(-90deg);
  }

  a {
    text-decoration: none;
    cursor: auto;
  }

  [class|="m"], [class|="y"] {
    background-color: inherit;
    clip-path: none;
  }

  tbody tr:nth-child(6n-5),
  tbody tr:nth-child(6n-4),
  tbody tr:nth-child(6n-3) {
    background-color: #e0e0e0;
  }

  tbody tr:nth-child(6n-5) td:nth-child(4),
  tbody tr:nth-child(6n-4) td:nth-child(4),
  tbody tr:nth-child(6n-3) td:nth-child(4) {
    background-color: #aaaaaa;
  }

  tbody tr:nth-child(6n-5) td:last-child,
  tbody tr:nth-child(6n-4) td:last-child,
  tbody tr:nth-child(6n-3) td:last-child {
    background-color: #ffff00;
  }

  tbody tr:nth-child(6n-2) td:last-child,
  tbody tr:nth-child(6n-1) td:last-child,
  tbody tr:nth-child(6n) td:last-child {
    background-color: #ffff8d;
  }

  colgroup col:nth-child(3n+1) {
    border-left: 1px solid black;
  }

  td:nth-child(n+3):nth-child(-n+5) {
    border-left: 1px solid black;
  }

  td:nth-child(4), td:nth-child(5) {
    font-weight: 450;
  }

  div.smith {
    display: none !important;
  }
}
