html {
  font-family: Roboto, system-ui, -apple-system, sans-serif;
  box-sizing: border-box;
  --banner-bg-color: darkblue;
  --table-bg-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

div#subway {
  background: var(--table-bg-color);
  overflow: auto;
}

html, body, div#subway {
  height: 100%;
}

div#bruce {
  height: 14.75em;
  width: 100%;
  background: var(--banner-bg-color);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0.125em 0.125em 0 rgba(0,0,0,0.3);
}

main {
  margin: -15em auto 0;
  padding-bottom: 0.75em;
  width: max-content;
}

header {
  height: 15em;
  color: white;
  padding-top: 1.5em;
  position: sticky;
  top: 0;
}

div#xi {
  width: 28em;
  height: 7.5em;
  text-align: center;
  border-top: 0.125em solid #fff;
  border-bottom: 0.0625em solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.3em;
  margin: 0.25em;
}

p {
  font-size: 0.75em;
  margin: 0.25em;
}

table {
  table-layout: fixed;
  width: 1em;
  margin-top: -2em;
  border-collapse: collapse;
}

th {
  white-space: nowrap;
  color: white;
  height: 2em;
  position: sticky;
  top: 13em;
}

tbody tr {
  transition: background 0.1s;
  transition: outline 0.1s;
}

tbody tr:hover {
  outline: groove #eee;
  background: #eee;
  cursor: pointer;
}

td {
  text-align: center;
  white-space: nowrap;
  height: 2em;
}

th:nth-child(1),
td:nth-child(1) {
  text-align: right;
  padding-right: 0.5em;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: left;
}

th:nth-child(1) { width: 2em; }
th:nth-child(2) { width: 18em; }
th:nth-child(3) { width: 4em; }
th:nth-child(4) { width: 4em; }

th:nth-child(n+5) {
  transform: rotate(-90deg);
  width: 2em;
  padding-left: 0.7em;
}

td:nth-child(2) {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 28em) {
  html {
    font-size: calc(100vw / 28);
  }

  div.subway {
    background: var(--banner-bg-color);
  }

  main {
    background: var(--table-bg-color);
  }

  div#bruce {
    top: -9em;
  }

  header {
    position: relative;
    z-index: 1;
  }

  th {
    top: 3.75em;
  }

  th:nth-child(n+5),
  td:nth-child(n+5) {
    display: none;
  }
}
