<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="TODO">
<title>{{ tournament.short_title }} {{ tournament.division }}</title>
<link type="image/png" rel="icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAACDElEQVR4Ae3VA8wcURhG4VPbtm03qK3oj1lEbVTbtm3bbsPatm3bfeve7M3Ozt2t8Zx4zI/fVUV+sBU05ofqgOjFD1QVITrxwyRHH2vED3MDId5Qjx9kE/rYXVLxQ8xHn1vLDzESfa0hEYlBCbz1R1+7SyIiMIIWeBuKMA0lbNUQw32egek1OQlLQi4jDuLtGgpoFmHpij5WmuAqIKtXpMFZQu6jj+0lHmCLxW6EXS+ctUJfW499iOjMQkG6TQycROMiMrGb/BipWYk8Ko+T6sjqLWdZTn9mso/XyLMBOJmEIuw4DmLwEDm3BAWUEV8lkHNriM4tZKIevpohxyYQD1iMTHTC11Tk0EmqAgCtkYlFroPEuwfMprL1zzLtxNeFEGfdlwrEJFBxax1f91GQDlGY4LIiEzfx9RbZsZ74eElsfZK+HgX5xyTFWzSE6RG+TiGrJoSSCmE6ha+NyKoIoZREmDbiayyyik0oXRCmcfiqjazi4y0W5xCm2viKzRMUUCW8dUCYnhIbB+NRQDPxUtaaDhNwkoZnKKCaBFOAGwjTM1LjqD8K6B4VCBSTBthzoz/O4nEAe2guogGFiQGkph2XkdUe4oG7tFxCuHeZlIQpN2eQY+fIRQSSsR05tJNkRCg2HXiKQvSUDsTmm6RhgsdBnjKBNHwX8YhiHnu5yHOecYl9zCGKuPwR/nsHqpaOEAqfQCAAAAAASUVORK5CYII=">
<link rel="stylesheet" href="./src/interpreter/html/style.css">
{#
<style>
{% include "style.css" -%}
</style>
#}
</head>
<body>
<div id="subway">
<div id="bruce"></div>
<main>
<header>
<div id="xi">
  <h1>{{ tournament.title }}&nbsp;{{ tournament.division }}</h1>
  <p>{{ tournament.date }} @ {{ tournament.location }}</p>
</div>
<div id="butterfly">
<select id="focus" aria-label="Focus table" autocomplete="off">
  <option value="0">All Events</option>
  {% for event in events -%}
  <option value="{{ loop.index }}">{{ event.name }}
  {%- if event.trial -%}
    {{ ' ' }}(Trial)
  {%- elif event.trialed -%}
    {{ ' ' }}(Trialed)
  {%- endif -%}
  </option>
  {% endfor -%}
  <option value="{{ events | length + 1 }}">Team Penalties</option>
</select><select id="sort" aria-label="Sort table" autocomplete="off">
  <option>by Rank</option>
  <option>by Number</option>
  <option>by School</option>
  <option>by State</option>
</select>
{%- if tournament.subdivisions -%}
<select id="sub" aria-label="Filter table by subdivision" autocomplete="off">
  <option>Combined</option>
  {% for subdivision in subdivisions -%}
  <option>{{ subdivision.name }}</option>
  {% endfor -%}
</select>
{% endif -%}
</div>
</header>
<table>
<colgroup span="5"></colgroup>
<colgroup>
  {% for event in events -%}
  <col>
  {% endfor -%}
  <col>
</colgroup>
<thead>
<tr>
  <th>#</th>
  <th>Team</th>
  <th></th>
  <th>Overall</th>
  <th>Total</th>
  {% for event in events -%}
  <th>{{ event.name }}
  {%- if event.trial -%}
    {{ ' ' }}(Trial)
  {%- elif event.trialed -%}
    {{ ' ' }}(Trialed)
  {%- endif -%}
  </th>
  {% endfor -%}
  <th>Team Penalties</th>
</tr>
</thead>
<tbody>
{% for team in teams -%}
<tr id="t{{ team.number }}">
  <td><a href="#{{ team.number }}">{{ team.number }}</a></td>
  <td>{{ team.short_name }} <small>{{ team.location }}</small></td>
  <td></td>
  <td
    {%- if team.trophy -%}
      {{ ' ' }}class="y-{{ team.trophy }}"
    {%- endif -%}
    >
  {%- if team.exhibition -%}
    EX
  {%- elif team.disqualified -%}
    DQ
  {%- else -%}
    {{ team.rank }}
    {%- if team.earned_bid -%}
      <sup>✧</sup>
    {%- endif -%}
  {%- endif -%}
  </td>
  <td>{{ team.points }}</td>
  {% for placing in team.placings -%}
  <td
    {%- if placing.medal -%}
      {{ ' ' }}class="m-{{ placing.medal }}"
    {%- endif -%}
    >{{ placing.isolated_points }}
    {%- set ex = placing.exempt or placing.dropped_as_part_of_worst_placings -%}
    {%- set ti = placing.tie and not placing.points_limited_by_maximum_place -%}
    {%- if ex and tie -%}
      <sup>◊*</sup>
    {%- elif ex -%}
      <sup>◊</sup>
    {%- elif ti -%}
      <sup>*</sup>
    {%- endif -%}
  </td>
  {% endfor -%}
  <td>{{ team.penalties }}</td>
</tr>
{% endfor -%}
</tbody>
</table>
{% if tournament.bids or
      tournament.exempt_or_dropped_placings or
      tournament.ties -%}
<footer>
{% if tournament.bids -%}
<p><sup>✧</sup>{{ tournament.qualification_message }}</p>
{% endif -%}
{% if tournament.exempt_or_dropped_placings -%}
<p><sup>◊</sup>Result was not counted as part of total score</p>
{% endif -%}
{% if tournament.ties -%}
<p><sup>*</sup>Tied with another team</p>
{% endif -%}
</footer>
{% endif -%}
</main>
</div>
<div class="smith">
<section>
<header>
<button id="close"></button>
<h1>Team ???</h1>
<p>Some School</p>
</header>
<table>
<tr>
  <td>Overall Rank</td>
  <td></td>
</tr>
{% for event in events -%}
<tr>
  <td>{{ event.name }}
  {%- if event.trial -%}
    {{ ' ' }}(Trial)
  {%- elif event.trialed -%}
    {{ ' ' }}(Trialed)
  {%- endif -%}
  </td>
  <td></td>
</tr>
{% endfor -%}
<tr>
  <td>Team Penalties</td>
  <td></td>
</tr>
</table>
</section>
</div>
{% for team in teams -%}
<div id="{{ team.number }}" class="smith"></div>
{% endfor -%}
<script>
const teamInfo = {
{% for team in teams -%}
"t{{ team.number}}":{
  "school":"{{ team.school }}",
  "name":"{{ team.name }}",
  "location":"{{ team.location }}",
  "state":"{{ team.state }}",
  "rank":{{ team.rank }},
  "trophy":{{ team.trophy | default(value="null")}},
},
{% endfor -%}
}
const placingInfo = {
{% for team in teams -%}
{% for placing in team.placings -%}
"t{{ team.number}}e{{ loop.index }}":{{ placing | json_encode() | safe}},
{% endfor -%}
{% endfor -%}
}
</script>
<script src="./src/interpreter/html/script.js"></script>
{#
<script>
{% include "script.js" -%}
</script>
#}
</body>
</html>
