<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="
Full results for the {{ tournament.title }} {{ tournament.division }},
Champion: {{ teams.0.name }} ({{ teams.0.points }} points),
Runner-up: {{ teams.1.name }} ({{ teams.1.points }} points),
Total number of competing teams: {{ tournament.nonexhibition_team_count }}">
<title>{{ tournament.short_title }} {{ tournament.division }}</title>
<link rel="icon" href="data:image/svg+xml,%3Csvg width='32' height='32' version='1.1' viewBox='0 0 8.4667 8.4667' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E rect %7B fill: {{ svg_color }}; %7D @media (prefers-color-scheme: dark) %7B rect %7B fill: grey; %7D %7D %3C/style%3E%3Cg%3E%3Crect x='1.0527' y='2.5547' width='2.1204' height='5.3011' stroke-width='.33144'/%3E%3Crect x='5.2935' y='.61094' width='2.1204' height='5.3011' stroke-width='.3296'/%3E%3Cellipse cx='4.5867' cy='6.4421' rx='2.8272' ry='1.4136' fill='%23ffee58' stroke-width='.37961'/%3E%3Ccircle cx='2.4663' cy='2.0246' r='1.4136' fill='%23cfd8dc' stroke-width='.49646'/%3E%3C/g%3E%3C/svg%3E">
<style>
{% include "chartist.min.css" %}
html { --banner-bg-color: {{ color }}; }
{% include "style.css" -%}
</style>
</head>
<body>
<div id="subway">
<div id="bruce"></div>
<main>
<header>
<div id="xi">
  <h1>{{ tournament.title }}&nbsp;{{ tournament.division }}</h1>
  <p>{{ tournament.date }} @ {{ tournament.location }}</p>
</div>
<div id="butterfly">
<select id="focus" aria-label="Focus table" autocomplete="off">
  <option value="0">All Events</option>
  {% for event in events -%}
  <option value="{{ loop.index }}">{{ event.name }}
  {%- if event.trial -%}
    {{ ' ' }}(Trial)
  {%- elif event.trialed -%}
    {{ ' ' }}(Trialed)
  {%- endif -%}
  </option>
  {% endfor -%}
  <option value="{{ events | length + 1 }}">Team Penalties</option>
</select><select id="sort" aria-label="Sort table" autocomplete="off">
  <option>by Rank</option>
  <option>by Number</option>
  <option>by School</option>
  {%- set state_count = teams | map(attribute="state") | unique | length -%}
  {%- if state_count != 1 %}
  <option>by State</option>
  {%- endif %}
</select>
{%- if tournament.subdivisions -%}
<select id="sub" aria-label="Filter table by subdivision" autocomplete="off">
  <option>Combined</option>
  {% for subdivision in subdivisions -%}
  <option>{{ subdivision.name }}</option>
  {% endfor -%}
</select>
{% endif -%}
</div>
</header>
<table>
<colgroup span="5"></colgroup>
<colgroup>
  {% for event in events -%}
  <col>
  {% endfor -%}
  <col>
</colgroup>
<thead>
<tr>
  <th>#</th>
  <th>Team</th>
  <th></th>
  <th>Overall</th>
  <th>Total</th>
  {% for event in events -%}
  <th><span>{{ event.name }}
  {%- if event.trial -%}
    {{ ' ' }}(Trial)
  {%- elif event.trialed -%}
    {{ ' ' }}(Trialed)
  {%- endif -%}
  </span></th>
  {% endfor -%}
  <th><span>Team Penalties</span></th>
</tr>
</thead>
<tbody>
{% for team in teams -%}
<tr id="t{{ team.number }}">
  <td><a href="#{{ team.number }}">{{ team.number }}</a></td>
  <td>{{ team.short_name }} <small>{{ team.location }}</small></td>
  <td></td>
  <td><div
    {%- if team.trophy -%}
      {{ ' ' }}class="y-{{ team.trophy }}"
    {%- endif -%}
    >
  {%- if team.exhibition -%}
    EX
  {%- elif team.disqualified -%}
    DQ
  {%- else -%}
    {{ team.rank }}
    {%- if team.earned_bid -%}
      <sup>✧</sup>
    {%- endif -%}
  {%- endif -%}
  </div></td>
  <td>{{ team.points }}</td>
  {% for placing in team.placings -%}
  <td
    {%- if placing.medal -%}
      {{ ' ' }}class="m-{{ placing.medal }}"
    {%- endif -%}
    >{{ placing.isolated_points }}
    {%- set ex = placing.exempt or placing.dropped_as_part_of_worst_placings -%}
    {%- set ti = placing.tie and not placing.points_limited_by_maximum_place -%}
    {%- if ex and ti -%}
      <sup>◊*</sup>
    {%- elif ex -%}
      <sup>◊</sup>
    {%- elif ti -%}
      <sup>*</sup>
    {%- endif -%}
  </td>
  {% endfor -%}
  <td>{{ team.penalties }}</td>
</tr>
{% endfor -%}
</tbody>
</table>
{% if tournament.bids or
      tournament.exempt_or_dropped_placings or
      tournament.ties -%}
<footer>
{% if tournament.bids -%}
<p><sup>✧</sup>{{ tournament.qualification_message }}</p>
{% endif -%}
{% if tournament.exempt_or_dropped_placings -%}
<p><sup>◊</sup>Result was not counted as part of total score</p>
{% endif -%}
{% if tournament.ties -%}
<p><sup>*</sup>Tied with another team</p>
{% endif -%}
</footer>
{% endif -%}
</main>
</div>
<div id="smith">
<section>
<header>
<button id="close" aria-label="Close team details modal"></button>
<h2>Team <span></span></h2>
<p></p>
</header>
<div id="liver">
<nav>
<table>
<tr>
  <td>Overall Rank</td>
  <td><div></div></td>
  <td><a aria-label="View details"></a></td>
</tr>
</table>
<table>
{% for event in events -%}
<tr>
  <td>{{ event.name }}
  {%- if event.trial -%}
    {{ ' ' }}(Trial)
  {%- elif event.trialed -%}
    {{ ' ' }}(Trialed)
  {%- endif -%}
  </td>
  <td><div></div></td>
  <td><a aria-label="View details"></a></td>
</tr>
{% endfor -%}
<tr>
  <td>Team Penalties</td>
  <td><div></div></td>
  <td><a aria-label="View details"></a></td>
</tr>
</table>
</nav>
<article>
<h3>Event Name</h3>
<p></p>
<div id="overallInfo">
<h4>Team Points vs. Rank</h4>
<p class="chart-toggle">
(<span class="selected">All teams</span> | <span>15 closest teams</span>)
</p>
<div class="ct-chart ct-minor-third"></div>
</div>
<div id="epInfo">
<h4>Raw Score vs. Place</h4>
<p class="chart-toggle">
(<span class="selected">All scores</span> | <span>15 closest scores</span>)
</p>
<div class="ct-chart ct-minor-third"></div>
<p id="rawDetails"></p>
<h4>Placing Details</h4>
<dl>
  <dt>Awarded medal/ribbon?</dt><dd></dd>
  <dt>Audited (exempt from) event?</dt><dd></dd>
  <dt>Dropped as part of worst placings?</dt><dd></dd>
  <dt>Points limited by maximum place?</dt><dd></dd>
  <dt>Points affected by exhibition teams?</dt><dd></dd>
  <dt>Isolated points:</dt><dd></dd>
</dl>
</div>
<button aria-label="Go back to team details nav"></button>
</article>
</div>
</section>
</div>
<script>
let nonexhibitionTeamCount = {{ tournament.nonexhibition_team_count }};
let eventInfo = {
{% for event in events -%}
"e{{ loop.index }}":{{ event | json_encode() | safe }},
{% endfor -%}
};
let teamInfo = {
{% for team in teams -%}
"t{{ team.number}}":{
  "school":{{ team.school | json_encode() | safe }},
  "name":{{ team.name | json_encode() | safe }},
  "location":{{ team.location | json_encode() | safe }},
  "state":{{ team.state | json_encode() | safe }},
  "rank":{{ team.rank }},
  "points":{{ team.points }},
  "trophy":{{ team.trophy | default(value="null")}},
  "exhibition":{{ team.exhibition }},
  "disqualified":{{ team.disqualified }},
  "events_participated":{{ team.events_participated }},
  "penalties":{{ team.penalties }},
},
{% endfor -%}
};
let placingInfo = {
{% for team in teams -%}
{% for placing in team.placings -%}
"t{{ team.number }}e{{ loop.index }}":{{ placing | json_encode() | safe }},
{% endfor -%}
{% endfor -%}
};
{%- if subdivisions %}
const subNonexhibitionTeamCounts = {
"Combined":nonexhibitionTeamCount,
{% for sub in subdivisions -%}
{%- set count = sub.tournament.nonexhibition_team_count -%}
{{ sub.name | json_encode() | safe }}:{{ count }},
{% endfor -%}
};
const subEventInfos = {
"Combined":eventInfo,
{% for sub in subdivisions -%}
{{ sub.name | json_encode() | safe }}:{
{% for event in sub.events -%}
"e{{ loop.index }}":{{ event | json_encode() | safe }},
{% endfor -%}
},
{% endfor -%}
};
const subTeamInfos = {
"Combined":teamInfo,
{% for sub in subdivisions -%}
{{ sub.name | json_encode() | safe }}:{
{% for team in sub.teams -%}
"t{{ team.number}}":{
  "school":{{ team.school | json_encode() | safe }},
  "name":{{ team.name | json_encode() | safe }},
  "location":{{ team.location | json_encode() | safe }},
  "state":{{ team.state | json_encode() | safe }},
  "rank":{{ team.rank }},
  "points":{{ team.points }},
  "trophy":{{ team.trophy | default(value="null")}},
  "exhibition":{{ team.exhibition }},
  "disqualified":{{ team.disqualified }},
  "events_participated":{{ team.events_participated }},
  "penalties":{{ team.penalties }},
},
{% endfor -%}
},
{% endfor -%}
};
const subPlacingInfos = {
"Combined":placingInfo,
{% for sub in subdivisions -%}
{{ sub.name | json_encode() | safe }}:{
{% for team in sub.teams -%}
{% for placing in team.placings -%}
"t{{ team.number }}e{{ loop.index }}":{{ placing | json_encode() | safe }},
{% endfor -%}
{% endfor -%}
},
{% endfor -%}
};
{%- endif %}
{% include "chartist.min.js" %}
{% include "polyfills.min.js" %}
{% include "script.js" -%}
</script>
<div hidden>{{ rep_yaml }}</div>
</body>
</html>
