<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="TODO">
<title>{{ tournament.short_title }} {{ tournament.division }}</title>
<link type="image/png" rel="icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAACDElEQVR4Ae3VA8wcURhG4VPbtm03qK3oj1lEbVTbtm3bbsPatm3bfeve7M3Ozt2t8Zx4zI/fVUV+sBU05ofqgOjFD1QVITrxwyRHH2vED3MDId5Qjx9kE/rYXVLxQ8xHn1vLDzESfa0hEYlBCbz1R1+7SyIiMIIWeBuKMA0lbNUQw32egek1OQlLQi4jDuLtGgpoFmHpij5WmuAqIKtXpMFZQu6jj+0lHmCLxW6EXS+ctUJfW499iOjMQkG6TQycROMiMrGb/BipWYk8Ko+T6sjqLWdZTn9mso/XyLMBOJmEIuw4DmLwEDm3BAWUEV8lkHNriM4tZKIevpohxyYQD1iMTHTC11Tk0EmqAgCtkYlFroPEuwfMprL1zzLtxNeFEGfdlwrEJFBxax1f91GQDlGY4LIiEzfx9RbZsZ74eElsfZK+HgX5xyTFWzSE6RG+TiGrJoSSCmE6ha+NyKoIoZREmDbiayyyik0oXRCmcfiqjazi4y0W5xCm2viKzRMUUCW8dUCYnhIbB+NRQDPxUtaaDhNwkoZnKKCaBFOAGwjTM1LjqD8K6B4VCBSTBthzoz/O4nEAe2guogGFiQGkph2XkdUe4oG7tFxCuHeZlIQpN2eQY+fIRQSSsR05tJNkRCg2HXiKQvSUDsTmm6RhgsdBnjKBNHwX8YhiHnu5yHOecYl9zCGKuPwR/nsHqpaOEAqfQCAAAAAASUVORK5CYII=">
<link rel="stylesheet" href="./src/interpreter/html/style.css">
<!--<style>
{% include "style.css" -%}
</style>
-->
</head>
<body>
<div class="subway">
<div class="bruce"></div>
<main>
<header>
<div class="xi">
  <h1>{{ tournament.title }} {{ tournament.division }}</h1>
  <p>{{ tournament.date }} @ {{ tournament.location }}</p>
</div>
</header>
<table>
<thead>
<tr>
  <th>#</th>
  <th>Team</th>
  <th>Overall</th>
  <th>Total</th>
  {% for event in events -%}
  <th>{{ event.name }}</th>
  {% endfor -%}
  <th>Team Penalties</th>
</tr>
</thead>
<tbody>
{% for team in teams -%}
<tr>
  <td><a href="#">{{ team.number }}</a></td>
  <td>{{ team.short_name }} <small>{{ team.location }}</small></td>
  <td>{{ team.rank }}</td>
  <td>{{ team.points }}</td>
  {% for placing in team.placings -%}
  <td>{{ placing.isolated_points }}</td>
  {% endfor -%}
  <td>{{ team.penalties }}</td>
</tr>
{% endfor -%}
</tbody>
</table>
</main>
</div>
<script>
{% include "script.js" -%}
</script>
</body>
</html>
